{
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "printWidth": 70,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.md",
      "options": { "parser": "markdown" }
    }
  ]
}